<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">YoMusic</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse navbar-dark"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/actualite']"
              routerLinkActive="router-link-active"
              aria-current="page"
              >Actualité</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              *ngIf="!loggedIn"
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              aria-current="page"

              >S'Identifier
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            type="text"
            [(ngModel)]="searchTerm" (keyup)="search($event)"
            class="form-control me-2"
            placeholder="Search"
            aria-label="Search"
          />
        </form>

      </div>
    </div>
  </nav>
</header>

