<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">YoMusic</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse navbar-dark"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              aria-current="page"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/actualite']"
              routerLinkActive="router-link-active"
              aria-current="page"
              >Actualité</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Variété
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let categorie of categories">
                <a class="dropdown-item">{{ categorie.name }}</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Continent
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let pay of pays">
                <a class="dropdown-item" href="#"> {{ pay.name }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              aria-current="page"
              *ngIf="!loggedIn"
              >S'Identifier
            </a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input
            type="text"
            (input)="getMediaSearch($event)"
            class="form-control me-2"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let result of data">
      <figure
        action=""
        class="snip1374 hover"
        method="POST"
        enctype="multipart/form-data"
      >
        <a href="" target="_self">
          <img src="{{ result.image }}" class="card-img-top img-fluid" />
        </a>
        <div class="time">
          <img
            src="../../assets/icon/icons8-horloge-64.png"
            height="18px"
            width="18px"
          />
          {{ result.created_at | date: "dd/MM/yy" }}
          <div class="" style="display: inline-flex">
            <div>
              <img
                src="../../assets/icon/icon-partager-24.png"
                class="reseaux"
                width="15px"
              />
            </div>
            <div>
              <img
                src="../../assets/icon/icon-visible2.png"
                class="reseaux"
                width="20px"
              />
            </div>
            <div>
              <img
                src="../../assets/icon/icon-coeur-48.png"
                class="reseaux"
                width="20px"
              />
            </div>

            <div id="likeBouton">
              <img
                src="../../assets/icon/dislike3.png"
                class="reseaux"
                width="16px"
              />
            </div>
            <div class="counter">00</div>
          </div>
          <h6 class="titleClip">
            {{ result.title }}
          </h6>
        </div>
      </figure>

      <div class="text-center">
        <a href="" type="" title="Facebook" class="" target="_blank">
          <img src="../../assets/icon/facebook-c32.png" alt="facebook"
        /></a>
        <a href="" type="" title="Instagram" class="" target="_blank">
          <img src="../../assets/icon/insta-c32.png" alt="instagram" />
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center"></div>
  </div>
</div>
