.navbar-nav .nav-link{
  color: #00ffeb;
}
.navbar-nav .nav-link:hover{
  color: #e20a3f;
}
/* .dropdown-menu.show */
.navbar-nav .dropdown-menu{
  background-color: black;
}

a.dropdown-item{
  color: white;
}
a.dropdown-item:hover{
  color: black;
}

.dropdown-menu {
  height: 170px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#scrolbar{
  color:  #00ffeb;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
  /* overflow-y: scroll;
  scrollbar-width: thin; */
  text-decoration: none;
  border: solid transparent;
}
#scrolbar:hover{
  color: #e20a3f;
}
#categories{
  color: white;
}

#pays{
  color: white;
}


