<header class="header">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">YoMusic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="router-link-active"  aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/actualite']" routerLinkActive="router-link-active" aria-current="page">Actualité</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Variété
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <li *ngFor="let categorie of categories">
                <a class="dropdown-item">{{ categorie.name }}</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Continent
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <li *ngFor="let pay of pays">
                <a class="dropdown-item" href="#"> {{ pay.name }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">S'Identifier</a>
          </li>
         </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

