<footer class="footer">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                    <a href="#!">Conditions d'utilisation</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                    <a href="#!">À propos</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                    <a href="#!">Recrutement</a>
                </h6>
            </div>


            <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                    <a href="mailto:m.musique223@yahoo.com">Envoyez-email</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="font-weight-bold">
                    <a href="">Contact</a>
                </h6>
            </div>

        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">

        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

            <div class="col-md-8 col-12 mt-5">

                <p style="line-height: 1.7rem; color: #cce5ff">
                    La musique dans le coeur résonne aussi fort que l'amour
                </p>
            </div>

        </div>
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        <!-- Grid row-->
        <div class="row pb-3">

            <!-- Grid column -->
            <div class="col-md-12">

                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="facebook">
                        <a href="https://www.facebook.com/M223music-105911157780003/"
                        target="_blank"><img src="../../assets/icon/facebook.png" height="37px" width="37px" frameborder="0" /></a>
                    </a>
                    <!-- Twitter -->
                    <a class="Twitter">
                        <a href="https://twitter.com/m223music" target="_blank">
                          <img src="../../assets/icon/twitter.png" height="35px" width="35px" frameborder="0"/></a>

                    </a>


                <!--Linkedin -->
                    <a class="li-ic">
                        <a href="https://www.linkedin.com/in/m-music-b610961a9/" target="_blank">
                          <img src="../../assets/icon/linkedin.png" height="30px" width="30px" frameborder="0" /></a>
                    </a>

                    <!--whatsapp-->

                <!--Youtube-->
                    <a class="youtube">
                        <a href="https://www.youtube.com/channel/UCsHds9fFTG0tz4p9LprUiGA" target="_blank">
                          <img src="../../assets/icon/youtube.png" height="33px" width="33px" frameborder="0" /></a>
                    </a>


                    <!--Instagram-->
                    <a class="instagram">
                        <a href="https://www.instagram.com/m223music/" target="_blank">
                            <img src="../../assets/icon/instagram.png" height="36px" width="36px" frameborder="0" /></a>
                    </a>
                </div>
            </div>

        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: #cce5ff">© 2020 Copyright:
            <a href="#"> YouMusic.com</a>
        </div>
        <!-- Copyright -->
    </div>

  </footer>

