<main>
    <div id="carousel" >
        <div class="hideLeft">
            <img src="../../assets/img/gims.jpg">
        </div>
        <div class="prevLeftSecond">
            <img src="../../assets/img/lil-pump.jpg">
        </div>

        <div class="prev">
            <img src="../../assets/img/niska.jpg">
        </div>

        <div class="selected">
            <img src="../../assets/img/offset1.jpg">
        </div>

        <div class="next">
            <img src="../../assets/img/sixnine.jpg">
        </div>

        <div class="nextRightSecond">
            <img src="../../assets/img/travis-scott1.jpg">
        </div>

        <div class="hideRight">
            <img src="../../assets/img/Lil-Naz.jpg">
        </div>

    </div>

</main>
