<main>
    <div id="carousel">
        <div class="hideLeft" id="anim">
            <img src="../../assets/img/gims.jpg">
        </div>
        <div class="prevLeftSecond" id="anim">
            <img src="../../assets/img/lil-pump.jpg">
        </div>

        <div class="prev" id="anim">
            <img src="../../assets/img/niska.jpg">
        </div>

        <div class="selected" id="anim">
            <img src="../../assets/img/offset1.jpg">
        </div>

        <div class="next" id="anim">
            <img src="../../assets/img/sixnine.jpg">
        </div>

        <div class="nextRightSecond" id="anim">
            <img src="../../assets/img/travis-scott1.jpg">
        </div>

        <div class="hideRight" id="anim">
            <img src="../../assets/img/Lil-Naz.jpg">
        </div>

    </div>

</main>
