<div class="d-flex justify-content-between align-items-center">
  <h1> Les Musiques </h1>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Ajouter
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <!-- le enctype="multipart/form-data" sert a prendre en compte l'input de type file -->

    <form (ngSubmit)="onSubmit()" [formGroup]="form" enctype="multipart/form-data">
      <div class="modal-body">
          <div class="form-group mb-2">
              <label class="form-label" for="title">Titre</label>
              <input type="text" name="title" id="title" class="form-controle" placeholder="Titre" formControlName="title">
          </div>
          <div class="form-group mb-2">
              <label class="form-label" for="texte">Texte</label>
              <textarea type="text" name="texte" id="texte" cols="30" rows="6" class="form-control" placeholder="Texte" formControlName="texte"></textarea>
          </div>


          <div class="form-group mb-2">
            <label class="form-label" for="url_video">Lien Video</label>
            <input type="text" name="url_video" id="url_video" class="form-control" placeholder="Lien de la video" formControlName="url_video">
          </div>
          <div class="form-group">
              <label class="form-label" for="image">Image</label>
              <input type="file" name="image" id="image" class="form-control" formControlName="image"
              (change)="uploadImage($event)" [ngClass]="{'is-invalid': submitted }">

              <div *ngif="submitted && f.image.errors" class="invalid-feedback">
                <div *ngif="f.image.errors.required" class="" >Image required</div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit"  class="btn btn-primary">Ajouter</button>
      </div>
      </form>
      </div>
  </div>
  </div>
</div>
