<div class="wrapper">
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
          <div class="sidebar-brand-text align-middle">
              YoMusic
            </div>

            <span class="sidebar-brand-text align-middle">
                Admin
            </span>
            <svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
                <path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
                <path d="M20 12L12 16L4 12"></path>
                <path d="M20 16L12 20L4 16"></path>
            </svg>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-item active">
                <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboards</span>
                </a>
            </li>
            <li class="sidebar-header">
                User
            </li>

            <li class="sidebar-item" >
                <a class="sidebar-link" href="pages-profile.html">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle" ></span>
                </a>
            </li>
            <li class="sidebar-header">
               Voir annonces
            </li>
            <li class="sidebar-header">
                Contenus
            </li>
            <li class="sidebar-item">
                <a href="livres.php" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Administrateur</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
      </a>

      <form class="d-none d-sm-inline-block">
          <div class="input-group input-group-navbar">
              <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
              <button class="btn" type="button">
                  <i class="align-middle" data-feather="search"></i>
              </button>
          </div>
      </form>

      <div class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-align">

            <li class="nav-item dropdown">
              <!-- Button trigger modal -->
              <a class="btn btn-info annonce" (click)="clickPostOrUpdate()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                Annonces
              </a>
            </li>

              <!-- Modal -->
             <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Déposer Annonces</h5>
                      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                   <!-- le enctype="multipart/form-data" sert a prendre en compte l'input de type file -->
                <form (ngSubmit)="actuOnSubmit()" [formGroup]="formActu" enctype="multipart/form-data">
                  <div class="modal-body">
                      <div class="form-group mb-2">
                          <label class="form-label" for="title">Titre</label>
                          <input type="text" name="title" id="title" class="form-control" placeholder="Titre" formControlName="title" required>
                      </div>
                      <div class="form-group mb-2">
                          <label class="form-label" for="texte">Texte</label>
                          <textarea type="text" name="texte" id="texte" cols="30" rows="2" class="form-control" placeholder="Texte" formControlName="texte" required min="3"></textarea>
                      </div>

                      <div class="form-group mb-2">
                        <label class="form-label" for="url_video">Lien Video</label>
                        <input type="text" name="url_video" id="url_video" class="form-control" placeholder="Lien de la video" formControlName="url_video" required>
                      </div>

                     <div class="form-group mb-2">
                      <label class="form-label" for="spectacles">Spectacles</label>
                      <select class="form-select" formControlName="spectacles" required>
                           <option [ngValue]="null"  selected >Select spectacles</option>
                            <option *ngFor="let spectacle of spectacles" class="dropdown-item"
                            [ngValue]="spectacle.id" name="spectacles" id="spectacles">
                              {{ spectacle.name }}
                            </option>
                      </select>
                    </div>
                      <div class="form-group">
                        <label class="form-label" for="image">Image</label>
                          <div *ngIf="showActuImage">
                            <img [src]=""  class="tableDashboard" />
                           </div>

                          <input type="file" name="image" id="image" class="form-control" formControlName="image"
                            [ngClass]="{ 'is-invalid': submitted && fa['image'].errors }"
                            (change)="uploadImageActu($event)">

                          <div *ngIf="submitted && fa['image'].errors" class="invalid-feedback">
                            <div *ngIf="requiredActuImage">
                            <div *ngIf="fa['image'].errors['required']">Image required</div>
                          </div>
                          </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      <button type="submit" id="submit" class="btn btn-primary">Add</button>
                      <button *ngIf="showUpdateActu" (click)="postEditMedia()" type="submit" id="submit" class="btn btn-primary">Update</button>
                  </div>
                  </form>
                  </div>
              </div>
              </div>




            <li class="nav-item dropdown logout">
              <a class="btn btn-primary" data-bs-toggle="dropdown">
                <span class="glyphicon glyphicon-log-in">logout</span>
              </a>
            </li>

              <li class="nav-item dropdown">
                <div class=""></div>
              </li>
          </ul>
      </div>
    </nav>

    <main class="content">
            <div class="alert alert-success"></div>
            <div class="d-flex justify-content-between align-items-center">
              <h1> Les Musiques </h1>
              <!-- Button trigger modal -->
              <button (click)="clickPostOrUpdate()" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Ajouter
              </button>

              <!-- Modal -->
             <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal Envoie</h5>
                      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                   <!-- le enctype="multipart/form-data" sert a prendre en compte l'input de type file -->

                <form (ngSubmit)="onSubmit()" [formGroup]="form" enctype="multipart/form-data">
                  <div class="modal-body">
                      <div class="form-group mb-2">
                          <label class="form-label" for="title">Titre</label>
                          <input type="text" name="title" id="title" class="form-control" placeholder="Titre" formControlName="title" required>
                      </div>
                      <div class="form-group mb-2">
                          <label class="form-label" for="texte">Texte</label>
                          <textarea type="text" name="texte" id="texte" cols="30" rows="2" class="form-control" placeholder="Texte" formControlName="texte" required min="3"></textarea>
                      </div>

                      <div class="form-group mb-2">
                        <label class="form-label" for="url_video">Lien Video</label>
                        <input type="text" name="url_video" id="url_video" class="form-control" placeholder="Lien de la video" formControlName="url_video" required>
                      </div>

                      <div class="form-group mb-2">
                        <label class="form-label" for="pays">Continent</label>
                        <select class="form-select" formControlName="pays" required>
                             <option [ngValue]="null" disabled>Select Continent</option>
                              <option *ngFor="let pay of pays" class="dropdown-item" [ngValue]="pay.id" name="pays" id="pays">
                                {{ pay.name }}</option>
                        </select>
                     </div>

                     <div class="form-group mb-2">
                      <label class="form-label" for="categorie">Genre Musical</label>
                      <select class="form-select" formControlName="categories" required>
                           <option [ngValue]="null"  disabled >Select Continent</option>
                            <option *ngFor="let categorie of categories" class="dropdown-item"
                            [ngValue]="categorie.id"  name="categories" id="categories">
                              {{ categorie.name }}
                            </option>
                      </select>
                    </div>

                      <div class="form-group">
                        <label class="form-label" for="image">Image</label>
                          <div *ngIf="showImage">
                            <img [src]=""  class="tableDashboard" />
                           </div>

                          <input type="file" name="image" id="image" class="form-control" formControlName="image"
                            [ngClass]="{ 'is-invalid': submitted && f['image'].errors }"
                            (change)="uploadImage($event)">

                          <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                            <div *ngIf="requiredImage">
                            <div *ngIf="f['image'].errors['required']">Image required</div>
                          </div>
                          </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      <button *ngIf="showPostMedia"  type="submit" id="submit" class="btn btn-primary">Add</button>
                      <button *ngIf="showUpdateMedia" (click)="postEditMedia()" type="submit" id="submit" class="btn btn-primary">Update</button>
                  </div>
                  </form>
                  </div>
              </div>
              </div>
            </div>


      <table class="table table-striped table-responsive">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Image</th>
                      <th>Titre</th>
                      <th>Genres</th>
                      <th>En signe</th>
                      <th class="text-end">Actions</th>
                  </tr>
              </thead>
              <tbody>


                  <tr *ngFor="let medias of media">
                      <td>{{ medias.id }}</td>
                      <td> <img src="{{medias.image}}" class="tableDashboard" /></td>
                      <td>{{medias.title}}</td>
                      <td >{{ medias.categories }}</td>
                      <td>
                         <span class="btn btn-success ligne">Oui</span>
                         <span class="btn btn-danger ligne">Non</span>
                      </td>
                      <td class="text-end">
                          <button (click)="deleteMedia(medias['id'])" class="btn btn-danger"><img src="../../assets/icon/delete1.png" class="deleteEdit" />
                            <i class="align-middle" data-feather="trash"></i>
                          </button>

                          <button (click)="editMedia(medias)" class="btn btn-primary ms-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="../../assets/icon/edit1.png" class="deleteEdit" />
                            <i class="align-middle" data-feather="edit-2"></i>
                          </button>
                      </td>
                  </tr>
            </tbody>
        </table>
    </main>
  </div>
</div>
