body{
    background-color: rgb(169, 167, 167);
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "",sans-serif;
}


.navbar-dark .navbar-brand {
  color: #e20a3f;
}

.navbar-dark .navbar-brand:hover{
  color: #00ffeb;
}
.navbar-dark .navbar-nav .nav-link.active{
  color: #00ffeb;
}

.navbar-dark .navbar-nav .nav-link.active:hover{
  color: #e20a3f;
}
.font-weight-bold a{
  color: #00ffeb;
  text-decoration: none;
}
.font-weight-bold a:hover{
  color: #e20a3f;
}
.footer-copyright a{
  color: #00ffeb;
  text-decoration: none;
}
.titleClip{
  text-align: center;
  color: blue;
  /* text-decoration: none important; */
  font-weight: bold;

}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  padding: 10px;
}


.ngx-pagination {
  text-align: center;
}

.card-img-top {
  transition: 0.3s ease-in-out;
}
.card-img-top:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.1) !important;
}

.img-fluid{
  transition: 0.5s ease-in-out;
}
.img-fluid:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1) !important;
}

#anim{
  transition: 0.2s ease-in-out;
}
#anim:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1) !important;
}
