<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let result of data">
      <figure
        action=""
        class="snip1374 hover"
        method="POST"
        enctype="multipart/form-data">
        <a href="" target="_self">
          <img src="{{result.image}}" class="card-img-top img-fluid" />
        </a>
        <div class="time">
          <img
            src="../../assets/icon/icons8-horloge-64.png"
            height="18px"
            width="18px"
          />
          {{ result.created_at | date:'dd/MM/yy' }}
          <div class="" style="display: inline-flex;">
            <div>
              <img
                src="../../assets/icon/icon-partager-24.png"
                class="reseaux"
                width="15px"
              />
            </div>
            <div>
              <img
                src="../../assets/icon/icon-visible2.png"
                class="reseaux"
                width="20px"
              />
            </div>
            <div>
              <img
                src="../../assets/icon/icon-coeur-48.png"
                class="reseaux"
                width="20px"
              />
            </div>

            <div id="likeBouton">
              <img
                src="../../assets/icon/dislike3.png"
                class="reseaux"
                width="16px"
              />
            </div>
            <div class="counter">00</div>
          </div>
          <h6 class="titleClip">
            {{ result.title }}
         </h6>
        </div>

      </figure>

      <div class="text-center">
        <a href="" type="" title="Facebook" class="" target="_blank">
          <img src="../../assets/icon/facebook-c32.png" alt="facebook"
        /></a>
        <a href="" type="" title="Instagram" class="" target="_blank">
          <img src="../../assets/icon/insta-c32.png" alt="instagram" />
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center"></div>
  </div>
</div>
