<app-header class="header"></app-header>
<app-carousel class="carouseel"></app-carousel>
<div class="container">
  <div class="row">
  <div class="col-lg-7">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let media of medias | paginate: { itemsPerPage: 6, currentPage: pages }">
      <figure
        action=""
        class="snip1374 hover homeCard"
        method="POST"
        enctype="multipart/form-data">
        <a href="" target="_self">
          <img src="{{media.image}}" class="card-img-top img-fluid" />
        </a>
        <div class="time">
          <img
            src="../../assets/icon/icons8-horloge-64.png"
            height="18px"
            width="18px"
          />
          {{ media.created_at | date:'dd/MM/yy' }}
          <div class="" style="display: inline-flex;">
            <div>
              <img
                src="../../assets/icon/icon-partager-24.png"
                class="reseaux"
                width="15px"
              />
            </div>
            <div>
              <img
                src="../../assets/icon/icon-visible2.png"
                class="reseaux"
                width="20px"
              />
            </div>
            <div>
              <img
                src="../../assets/icon/icon-coeur-48.png"
                class="reseaux"
                width="20px"
              />
            </div>

            <div id="likeBouton">
              <img
                src="../../assets/icon/dislike3.png"
                class="reseaux"
                width="16px"
              />
            </div>
            <div class="counter">00</div>
          </div>
          <h6 class="titleClip">
            {{ media.title }}
         </h6>
        </div>

      </figure>

      <div class="text-center">
        <a href="" type="" title="Facebook" class="" target="_blank">
          <img src="../../assets/icon/facebook-c32.png" alt="facebook"
        /></a>
        <a href="" type="" title="Instagram" class="" target="_blank">
          <img src="../../assets/icon/insta-c32.png" alt="instagram" />
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center"></div>
  </div>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-4">
  <div class="card mb-3 homeCard" style="max-width: 540px;" *ngFor="let activitie of activities">


   <div class="row g-0">
     <div class="col-md-6">
       <img src="{{activitie.snippet.thumbnails.high.url}}" class="img-fluid rounded-start" alt="..."
       />
     </div>
     <div class="col-md-6">
       <div class="card-body">
        <h6 class="titleClip">
          {{ activitie.snippet.title }}
       </h6>

         <p class="card-text">{{ activitie.snippet.description }}</p>
         <p class="card-text">
          <img
            src="../../assets/icon/icons8-horloge-64.png"
            height="18px"
            width="18px"
          />
          {{ activitie.snippet.publishedAt | date:'dd/MM/yy' }}</p>
       </div>
     </div>
   </div>
  </div>
 </div>
</div>
</div>
<pagination-controls (pageChange)="pages = $event"></pagination-controls>

